*{
    padding: 0;
    margin: 0;
    outline: none;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Open Sans';
    list-style-type: none;
}

body{
    background-color: #F7F7F7;
}

.disabled{
    display: none;
}

.h4-title{
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    color: #000000;
}

.item-name{
    margin-right: auto;
}

.btn-blue-effect:hover{
    background: #1C499F;
    transition: .4s;
}

.btn-blue-effect:active{
    background: #194292;
    transition: .1s;
}



/*----------------Header----------------------------*/
.header{
    background: #1E1E1E;
    color: white;
    padding: 7px 0;
}
.container{
    width: 1170px;
    margin: 0 auto;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
}
.logo{
    width: 129px;
    height: 96px;
}
.logo__img{
    width: 100%;
    height: 100%;
}
.header__text{
    margin-left: 21px;
    font-weight: 500;
    white-space: nowrap;
    font-size: 18px;
    color: white;
}
.phone{
    margin-left: 25px;
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
}
.search-block{
    margin-left: 58px;
    width: 354px;
    height: 34px;
    display: flex;

}
.search-field{
    background: #474747;
    width: 307px;
    height: 34px;
    font-weight: 600;
    padding: 9px 17px;
    font-size: 16px;
    color: #989898;
    align-self: stretch;
    border: 1px solid #6A6A6A;
}
.search-button{
    align-self: stretch;
    width: 45px;
    height: 34px;
    background-color: #474747;
    border: 1px solid #6A6A6A;
    border-left: none;
    cursor: pointer;
}
.search-img{
    height: 100%;
    width: 100%;
    padding: 9px 13px 8px 13px;
    display: flex;
    align-items: center;
    align-self: stretch;
    justify-content: center;
    cursor: pointer;
}
.sign{
    width: auto;
    text-align: right;
    margin-left: 29px;
    display: inline-grid;
}
.sign-text{
    font-weight: 400;
    font-size: 16px;
    color: #E4E4E4;
    cursor: pointer;

}
.cart{
    background-color: transparent;
    margin-left: 35px;
    border: none;
    position: relative;
    cursor: pointer;
}
.cart:before{
    content: '';
    width: 20px;
    height: 20px;
    right: -7px;
    top: -2px;
    position: absolute;
    background: #2156BD;
    border-radius: 50%;
}
.cart:after{
    content: '2';
    right: -2px;
    top: -2px;
    position: absolute;
    color: white;
    border-radius: 50%;
    font-weight: 700;
    font-size: 14px;
    color: #FFFFFF;
}

/* ---------------preparation---------------------------------------------- */

.preparation{
    padding: 58px 0 249px 0;
}

.top-container{
    display: flex;
    align-items: center;
    margin-bottom: 39px;
}

.preparation-title{
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    color: #000000;

}

.stage-box{
    margin-top: -29px;
    margin-left: 38px;
    display: flex;
}

.stage{
    position: absolute;
}


.stage-1{

    
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    display: flex;
    color: #FFFFFF;
    display: flex;
}

.stage-2{
    margin-left: 200px;
}

.stage-3{
    margin-left: 413px;
}

.stage-4{
    margin-left: 626px;
}

.sq{
    padding: 9px 0;
    text-align: center;
    background: #FFFFFF;
    top: 0;
    width: 213px;
    height: 38px;
    position: relative;
    border: 1px solid #E5E5E5;
    color: #9E9E9E;
    border-right: none;
    white-space: nowrap;
    line-height: 19px;
}

.sq-end{
    width: 193px;
    border: 1px solid #E5E5E5;
}

.sq-active{
    padding: 10px 71px;
    background: #2156BD;
    top: 0;
    width: 100%;
    height: 38px;
    position: relative;
    color: #FFFFFF;
    border: 1px solid #E5E5E5;
    border-right: none;
}

.rec{
    width: 0;
	height: 0;
    top: 0;
    left: 0;
	border-top:  18.8px solid transparent;
	border-left: 21px solid #E5E5E5;
	border-bottom: 18.9px solid transparent;
    position: relative;
    z-index: 14;
}

.rec::before{
    content: '';
    width: 0;
	height: 0;
	border-top: 18px solid transparent;
	border-left: 21px solid #2156BD;
	border-bottom: 18.5px solid transparent;
    position: absolute;
    top: -18px;
    left: -23px;
    z-index: 15;
}

.rec-standart::before{
    content: '';
    width: 0;
	height: 0;
	border-top: 18px solid transparent;
	border-left: 21px solid #FFFFFF;
	border-bottom: 18.5px solid transparent;
    position: absolute;
    top: -18px;
    left: -22px;
    z-index: 15;
}

.rec-2{
    top: -38px;
    left: 213px;
}

.rec-3{
    top: -38px;
    left: 213px;
}

.cart-list{
    background: #FFFFFF;
    border: 1px solid #E5E5E5;
    padding: 64px 69px 60px 54px;
    width: 100%;
}

.cart-text{
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    color: #000000;
}

.item-row{
    display: flex;
    margin-top: 30px;
    padding-bottom: 30px;
    border-bottom: 1px solid #D3D3D3;
}

.item-row-1{
    margin-top: 40px;
}

.th{
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    color: #000000;
}

.item-quantity{
    margin-left: 536px;
    margin-right: 100px;
}

.main-row{
    margin-top: 41px;
    margin-bottom: 40px;
}

.item-row__text{
    width: 714px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #000000;
    margin-bottom: 20px;
}

.item-row__art{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #7A7A7A;
}

.item-row__del{
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    text-decoration-line: underline;
    color: #2156BD;
    cursor: pointer;
    background-color: transparent;
    border: none;
    margin-left: 28px;
}

.item-col-2{
    margin-left: 80px;
    display: flex;
    align-items: center;
    
    height: 25px;
}

.btn-minus, .btn-plus{
    background-color: transparent;
    font-style: normal;
    font-weight: 600;
    width: 10px;
    line-height: 33px;
    font-size: 24px;
    color: #000000;
    border: none;
    cursor: pointer;
}

.btn-minus{
    margin-bottom: 4px;
}

.btn-plus{
    margin-bottom: 2px;
}

.item-row__numb{
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    color: #000000;
    line-height: 25px;
    margin-left: 17px;
    margin-right: 18px;
}

.item-col-3{
    margin-left: auto;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    color: #000000;
}

.conclusion{
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.payment__text{
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    color: #646464;
}

#payment-method{
    margin-top: 9px;
    padding: 8px 0 5px 13px;
    width: 419px;
    background: #F6F6F6;
    border: 1px solid #D3D3D3;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #000000;
}

.full-price-box{
    align-self: flex-end;
}

.full-price__text, .full-price__price{
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    color: #000000;
}

.full-price__price{
    margin-left: 47px;
}

.checkout-btn{
    margin-top: 30px;
    margin-left: auto;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    color: #FFFFFF;
    background-color: #2156BD;
    padding: 13px 72px;
}

/* ------------------Footer--------------------------------------------------- */
.footer{
    background: #131313;
    padding: 48px 0;    
}

.footer-container{
    padding-left: 45px;
}

.link-container{
    display: flex;
    align-items: center;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    color: #FFFFFF;
}

.link-container__text{
    margin-left: 17px;
}

.link-container__text-14{
    margin-left: 14px;
}

.link-container-168{
    margin-left: 168px;
}

.footer-phone{
    display: flex;
    align-items: center;
    margin-left: 109px;

}

.right-part{
    margin-left: 5px;
}

.city{
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    color: #9A9A9A;
}

.footer-tel{
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    color: #FFFFFF;
}